<form id="FLogin" action="../../../Controller/DefaultController.php" method="POST">

    <label>Usuario</label> <input id="username" name="user" type="text"/>
    <label>Contrase&ntilde;a</label> <input id="password" name="pass"/>
    <input type="submit" value="Ingresar"/>

</form>
