<html>
  <head>
      <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test Application{% endblock %}</title>
  </head>
  <body>
      <div class="container-fluid" style="background-color: #4bb1cf">
        fghfgh
      <div class="row-fluid">
          
          <div class="span2" style="background-color: #039">
            <ul class="nav nav-tabs nav-stacked">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li><a href="#">...</a></li>
              <li><a href="#">...</a></li>
           </ul>
         </div>
        <div class="span10" style="background-color: #0088cc">
            Impossible is nothing
        </div>
      </div>
    </div> 
  </body>
</html>
